---
http_interactions:
- request:
    method: get
    uri: https://bridgerstaging.lexisnexis.com/LN.WebServices/11.0/XGServices.svc?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      X-Xg5-Version:
      - 5.28.1252.0
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://bridgerinsight.lexisnexis.com/BridgerInsight.Web.Services.Interfaces.11.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="XGServices" targetNamespace="https://bridgerinsight.lexisnexis.com/BridgerInsight.Web.Services.Interfaces.11.0">
          <wsp:Policy wsu:Id="BasicHttpBinding_IAccount_policy">
            <wsp:ExactlyOne>
              <wsp:All>
                <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                  <wsp:Policy>
                    <sp:TransportToken>
                      <wsp:Policy>
                        <sp:HttpsToken RequireClientCertificate="false"/>
                      </wsp:Policy>
                    </sp:TransportToken>
                    <sp:AlgorithmSuite>
                      <wsp:Policy>
                        <sp:Basic256/>
                      </wsp:Policy>
                    </sp:AlgorithmSuite>
                    <sp:Layout>
                      <wsp:Policy>
                        <sp:Strict/>
                      </wsp:Policy>
                    </sp:Layout>
                  </wsp:Policy>
                </sp:TransportBinding>
              </wsp:All>
            </wsp:ExactlyOne>
          </wsp:Policy>
          <wsp:Policy wsu:Id="BasicHttpBinding_IListMaintenance_policy">
            <wsp:ExactlyOne>
              <wsp:All>
                <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/[...]
- request:
    method: post
    uri: https://bridgerstaging.lexisnexis.com/LN.WebServices/11.0/XGServices.svc/Search
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soap:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:brid="https://bridgerinsight.lexisnexis.com/BridgerInsight.Web.Services.Interfaces.11.0"
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><brid:Search><brid:context><brid:ClientID><CLIENT_ID></brid:ClientID><brid:Password><PASSWORD></brid:Password><brid:UserID><USERNAME></brid:UserID></brid:context><brid:config><brid:PredefinedSearchName>Borrower
        Onboarding</brid:PredefinedSearchName></brid:config><brid:input><brid:Records><brid:InputRecord><brid:Entity><brid:EntityType>Individual</brid:EntityType><brid:Name><brid:First>Donald</brid:First><brid:Last>Trump</brid:Last><brid:Full>Donald
        Trump</brid:Full></brid:Name><brid:Addresses><brid:InputAddress><brid:Country>United
        States</brid:Country><brid:Type>Current</brid:Type></brid:InputAddress></brid:Addresses><brid:Gender>Male</brid:Gender><brid:AdditionalInfo><brid:InputAdditionalInfo><brid:Number>1946-06-14</brid:Number><brid:Type>DOB</brid:Type></brid:InputAdditionalInfo></brid:AdditionalInfo></brid:Entity></brid:InputRecord></brid:Records></brid:input></brid:Search></soap:Body></soap:Envelope>
    headers:
      Soapaction:
      - '"https://bridgerinsight.lexisnexis.com/BridgerInsight.Web.Services.Interfaces.11.0/ISearch/Search"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Xg5-Version:
      - 5.28.1252.0
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\">\n
        \ <s:Body xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n
        \   <SearchResponse xmlns=\"https://bridgerinsight.lexisnexis.com/BridgerInsight.Web.Services.Interfaces.11.0\">\n
        \     <SearchResult>\n        <Records>\n          <ResultRecord>\n            <Record>1</Record>\n
        \           <RecordDetails>\n              <AcceptListID>-1</AcceptListID>\n
        \             <AccountAmount/>\n              <AccountDate/>\n              <AccountGroupID/>\n
        \             <AccountOtherData/>\n              <AccountProviderID/>\n              <AccountType/>\n
        \             <AddedToAcceptList>false</AddedToAcceptList>\n              <Addresses>\n
        \               <InputAddress>\n                  <Country>United States</Country>\n
        \                 <Type>Current</Type>\n                </InputAddress>\n
        \             </Addresses>\n              <DPPA>NA</DPPA>\n              <EFTContext/>\n
        \             <EFTType>None</EFTType>\n              <EntityType>Individual</EntityType>\n
        \             <Gender>Male</Gender>\n              <GLB>255</GLB>\n              <LastUpdatedDate>2020-02-07T14:54:02.1124282Z</LastUpdatedDate>\n
        \             <Name>\n                <First>Donald</First>\n                <Full>Donald
        Trump</Full>\n                <Generation/>\n                <Last>Trump</Last>\n
        \               <Middle/>\n                <Title/>\n              </Name>\n
        \             <RecordState>\n                <AddedToAcceptList>false</AddedToAcceptList>\n
        \               <AlertState>Unassigned</AlertState>\n                <AssignmentType>Unknown</AssignmentType>\n
        \               <MatchStates>\n                  <WatchlistMatchState>\n                    <MatchID>0</MatchID>\n
        \                   <Type>None</Type>\n                  </WatchlistMatchState>\n
        \                 <WatchlistMatchState>\n                    <MatchID>0</MatchID>\n
        \                   <Type>None</Type>\n                  </WatchlistMatchState>\n
        \                 <WatchlistMatchState>\n                    <MatchID>0</MatchID>\n
        \                   <Type>None</Type>\n                  </WatchlistMatchState>\n
        \               </MatchStates>\n                <Status/>\n              </RecordState>\n
        \             <SearchDate>2020-02-07T14:54:02.1124282Z</SearchDate>\n              <Text/>\n
        \           </RecordDetails>\n            <ResultID>-1</ResultID>\n            <RunID>-1</RunID>\n
        \           <Watchlist>\n              <Matches>\n                <WLMatch>\n
        \                 <AcceptListID>-1</AcceptListID>\n                  <AddedToAcceptList>false</AddedToAcceptList>\n
        \                 <AddressName>false</AddressName>\n                  <AutoFalsePositive>false</AutoFalsePositive>\n
        \                 <BestAddressIsPartial>false</BestAddressIsPartial>\n                  <BestCountry/>\n
        \                 <BestCountryScore>-1</BestCountryScore>\n                  <BestCountryType>None</BestCountryType>\n
        \                 <BestDOBIsPartial>false</BestDOBIsPartial>\n                  <BestName>Trump,
        Donald John III</BestName>\n                  <BestNameScore>94</BestNameScore>\n
        \                 <CheckSum>150360</CheckSum>\n                  <Conflicts>\n
        \                   <AddressConflict>false</AddressConflict>\n                    <CitizenshipConflict>false</CitizenshipConflict>\n
        \                   <CountryConflict>false</CountryConflict>\n                    <DOBConflict>false</DOBConflict>\n
        \                   <EntityTypeConflict>false</EntityTypeConflict>\n                    <GenderConflict>false</GenderConflict>\n
        \                   <IDConflict>false</IDConflict>\n                    <PhoneConflict>false</PhoneConflict>\n
        \                 </Conflicts>\n                  <EntityDetails>\n                    <AdditionalInfo>\n
        \                     <EntityAdditionalInfo>\n                        <ID>0</ID>\n
        \                       <Type>DOB</Type>\n                        <Value>2009-02-XX</Value>\n
        \                     </EntityAdditionalInfo>\n                      <EntityAdditionalInfo>\n
        \                       <ID>0</ID>\n                        <Type>Occupation</Type>\n
        \                       <Value>Grandson of Donald John Trump, Sr., President
        of the United States.</Value>\n                      </EntityAdditionalInfo>\n
        \                     <EntityAdditionalInfo>\n                        <Comments>Trump,
        Donald John | https://members.worldcompliance.com/metawatch2.aspx?id=a89401ed-2199-4175-bc52-cb8a553ba357</Comments>\n
        \                       <ID>0</ID>\n                        <Type>Other</Type>\n
        \                       <Value>Link to WorldCompliance Online Database</Value>\n
        \                     </EntityAdditionalInfo>\n                      <EntityAdditionalInfo>\n
        \                       <Comments>http://www.dailymail.co.uk/news/article-4090[...]
