---
http_interactions:
- request:
    method: get
    uri: https://bridgerstaging.lexisnexis.com/LN.WebServices/11.0/XGServices.svc?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      X-Xg5-Version:
      - 5.28.1252.0
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><wsdl:definitions name="XGServices"
        targetNamespace="https://bridgerinsight.lexisnexis.com/BridgerInsight.Web.Services.Interfaces.11.0"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="https://bridgerinsight.lexisnexis.com/BridgerInsight.Web.Services.Interfaces.11.0"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><wsp:Policy wsu:Id="BasicHttpBinding_IAccount_policy"><wsp:ExactlyOne><wsp:All><sp:TransportBinding
        xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"><wsp:Policy><sp:TransportToken><wsp:Policy><sp:HttpsToken
        RequireClientCertificate="false"/></wsp:Policy></sp:TransportToken><sp:AlgorithmSuite><wsp:Policy><sp:Basic256/></wsp:Policy></sp:AlgorithmSuite><sp:Layout><wsp:Policy><sp:Strict/></wsp:Policy></sp:Layout></wsp:Policy></sp:TransportBinding></wsp:All></wsp:ExactlyOne></wsp:Policy><wsp:Policy
        wsu:Id="BasicHttpBinding_IListMaintenance_policy"><wsp:ExactlyOne><wsp:All><sp:TransportBinding
        xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"><wsp:Policy><sp:TransportToken><wsp:Policy><sp:HttpsToken
        RequireClientCertificate="false"/></wsp:Policy></sp:TransportToken><sp:AlgorithmSuite><wsp:Policy><sp:Basic256/></wsp:Policy></sp:AlgorithmSuite><sp:Layout><wsp:Policy><sp:Strict/></wsp:Policy></sp:Layout></wsp:Policy></sp:TransportBinding></wsp:All></wsp:ExactlyOne></w[...]
- request:
    method: post
    uri: https://bridgerstaging.lexisnexis.com/LN.WebServices/11.0/XGServices.svc/Search
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soap:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:brid="https://bridgerinsight.lexisnexis.com/BridgerInsight.Web.Services.Interfaces.11.0"
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><brid:Search><brid:context><brid:ClientID><CLIENT_ID></brid:ClientID><brid:Password><PASSWORD></brid:Password><brid:UserID><USERNAME></brid:UserID></brid:context><brid:config><brid:PredefinedSearchName>Borrower
        Onboarding</brid:PredefinedSearchName></brid:config><brid:input><brid:Records><brid:InputRecord><brid:Entity><brid:EntityType>Business</brid:EntityType><brid:Name><brid:Full>Cannabis
        Culture</brid:Full></brid:Name></brid:Entity></brid:InputRecord></brid:Records></brid:input></brid:Search></soap:Body></soap:Envelope>
    headers:
      Soapaction:
      - '"https://bridgerinsight.lexisnexis.com/BridgerInsight.Web.Services.Interfaces.11.0/ISearch/Search"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Xg5-Version:
      - 5.28.1252.0
    body:
      encoding: ASCII-8BIT
      string: |-
        <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><SearchResponse xmlns="https://bridgerinsight.lexisnexis.com/BridgerInsight.Web.Services.Interfaces.11.0"><SearchResult><Records><ResultRecord><Record>1</Record><RecordDetails><AcceptListID>-1</AcceptListID><AccountAmount/><AccountDate/><AccountGroupID/><AccountOtherData/><AccountProviderID/><AccountType/><AddedToAcceptList>false</AddedToAcceptList><DPPA>NA</DPPA><EFTContext/><EFTType>None</EFTType><EntityType>Business</EntityType><Gender>None</Gender><GLB>255</GLB><LastUpdatedDate>2020-02-05T21:01:27.7679704Z</LastUpdatedDate><Name><First/><Full>Cannabis Culture</Full><Generation/><Last/><Middle/><Title/></Name><RecordState><AddedToAcceptList>false</AddedToAcceptList><AlertState>Unassigned</AlertState><AssignmentType>Unknown</AssignmentType><MatchStates><WatchlistMatchState><MatchID>0</MatchID><Type>None</Type></WatchlistMatchState><WatchlistMatchState><MatchID>0</MatchID><Type>None</Type></WatchlistMatchState><WatchlistMatchState><MatchID>0</MatchID><Type>None</Type></WatchlistMatchState><WatchlistMatchState><MatchID>0</MatchID><Type>None</Type></WatchlistMatchState><WatchlistMatchState><MatchID>0</MatchID><Type>None</Type></WatchlistMatchState><WatchlistMatchState><MatchID>0</MatchID><Type>None</Type></WatchlistMatchState><WatchlistMatchState><MatchID>0</MatchID><Type>None</Type></WatchlistMatchState></MatchStates><Status/></RecordState><SearchDate>2020-02-05T21:01:27.7679704Z</SearchDate><Text/></RecordDetails><ResultID>-1</ResultID><RunID>-1</RunID><Watchlist><Matches><WLMatch><AcceptListID>-1</AcceptListID><AddedToAcceptList>false</AddedToAcceptList><AddressName>false</AddressName><AutoFalsePositive>false</AutoFalsePositive><BestAddressIsPartial>false</BestAddressIsPartial><BestCountry/><BestCountryScore>-1</BestCountryScore><BestCountryType>None</BestCountryType><BestDOBIsPartial>false</BestDOBIsPartial><BestName>Culture Cannabis Club</BestName><BestNameScore>98</BestNameScore><CheckSum>48861</CheckSum><Conflicts><AddressConflict>false</AddressConflict><CitizenshipConflict>false</CitizenshipConflict><CountryConflict>false</CountryConflict><DOBConflict>false</DOBConflict><EntityTypeConflict>false</EntityTypeConflict><GenderConflict>false</GenderConflict><IDConflict>false</IDConflict><PhoneConflict>false</PhoneConflict></Conflicts><EntityDetails><AdditionalInfo><EntityAdditionalInfo><Comments>Cannabis Evaluation Center, Inc. | https://members.worldcompliance.com/metawatch2.aspx?id=9f6a681a-973f-4b04-aaa5-0d58f79d556c</Comments><ID>0</ID><Type>Other</Type><Value>Link to WorldCompliance Online Database</Value></EntityAdditionalInfo><EntityAdditionalInfo><Comments>https://online.bcc.ca.gov/bcc/customization/bcc/cap/licenseSearch.aspx | https://cannabis.ca.gov/check_a_license/ | https://cannabis.ca.gov/</Comments><ID>0</ID><Type>Other</Type><Value>Sources of Record Information</Value></EntityAdditionalInfo></AdditionalInfo><Addresses><EntityAddress><Country>United States</Country><ID>0</ID><Type>Unknown</Type></EntityAddress><EntityAddress><City>Long Beach</City><Country>United States</Country><ID>0</ID><PostalCode>90808</PostalCode><StateProvinceDistrict>California</StateProvinceDistrict><Street1>3120 Los Coyotes Diagonal</Street1><Type>Unknown</Type></EntityAddress></Addresses><AKAs><EntityAKA><Category>None</Category><Comments>ID: 105895025</Comments><ID>0</ID><Name><Full>Culture Cannabis Club</Full></Name><Type>None</Type></EntityAKA></AKAs><Comments>Source: United States,US Marijuana Registered Businesses || Offense: California State Registered Marijuana Dispensary. || Category: Registrations | Subcategory: Marijuana Reg Bus || Last updated: 2020-01-23 || Profile Notes: Owner Name: Christina Duong

        Type of Facility:
        Medical.</Comments><DateListed>2020-01-23</DateListed><EntityType>Business</EntityType><IDs><EntityID><ID>0</ID><Number>C10-0000683-LIC</Number><Type>Other</Type></EntityID><EntityID><ID>0</ID><Number>10481252</Number><Type>ProprietaryUID</Type></EntityID></IDs><ListReferenceNumber>10481252</ListReferenceNumber><Name><Full>Cannabis Evaluation Center, Inc.</Full></Name><ReasonListed>Registrations:Marijuana Reg Bus</ReasonListed></EntityDetails><EntityName>Cannabis Evaluation Center, Inc.</EntityName><EntityScore>98</EntityScore><EntityUniqueID>WX0010481252</EntityUniqueID><FalsePositive>false</FalsePositive><File><Build>2020-02-04T09:40:54Z</Build><Custom>false</Custom><ID>410465</ID><Name>WorldCompliance - Registrations.BDF</Name><Published>2020-02-03T00:01:00Z</Published><Type>BDF</Type></File><GatewayOFACScreeningIndicatorMatch>false</GatewayOFACScreeningIndicatorMatch><ID>-1</ID><MatchReAlert>false</MatchReAlert><PreviousResultID>-1</PreviousResultID><ReasonListed>Registrations:Marijuana Reg Bus</ReasonListed><ResultDate>2020-02-05T21:01:27.7629701Z</ResultDate><SecondaryOFACScreeningIndicatorMatch>false</SecondaryOFACScreeningIndicatorMatch><TrueMatch>false</TrueMatch></WLMatch><WLMatch><AcceptListID>-1</AcceptListID><AddedToAcceptList>false</AddedToAcceptList><AddressName>false</AddressName><AutoFalsePositive>false</AutoFalsePositive><BestAddressIsPartial>false</BestAddressIsPartial><BestCountry/><BestCountryScore>-1</BestCountryScore><BestCountryType>None</BestCountryType><BestDOBIsPartial>false</BestDOBIsPartial><BestName>Cannabis</BestName><BestNameScore>94</BestNameScore><CheckSum>88995</CheckSum><Conflicts><AddressConflict>false</Addres[...]
